<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">
    <insert id="insertBatch">
        insert into setmeal_dish (setmeal_id, dish_id, name, price, copies) VALUES
        <foreach collection="dishs" item="ls" separator=",">
            (#{ls.setmealId},#{ls.dishId},#{ls.name},#{ls.price},#{ls.copies})
        </foreach>
    </insert>

    <delete id="deleteByIds">
        delete from setmeal_dish where setmeal_id in
        <foreach collection="ids" open="(" separator="," close=")" item="setmealid">
            #{setmealid}
        </foreach>

    </delete>
    <select id="getSetmealIdsByDishIDS" resultType="java.lang.Long">
        select setmeal_id from setmeal_dish where dish_id in
        <foreach collection="dishIds" item="dishId" separator="," open="(" close=")">
            #{dishId}
        </foreach>
    </select>
</mapper>
